@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body{
    margin: 0;
}

html{
    font-size: 22px;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #6F6AF7;
    display: flex;
    justify-content: space-between;
    padding: 0 1.2rem;
    height: 3rem;
    align-items: center;
    z-index: 1000; /* Ensures it stays above other elements */
}


#nav #brand-name{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 700;
    font-family: "Delius Unicase";
}

#links-container{
    display: flex;
    /* justify-content: space-between;
    width: 300px; */
    gap: 1.2rem;
}

.link{
    /* margin: 0 10px; */
    list-style-type: none;
}

#links-container .link a{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
}
#links-container .link a .material-symbols-outlined{
    font-size: 1.1rem;
}

.search-container{
    position: relative;
}

.search-container input{
    border-radius: 1.2rem;
    height: 1.5rem;
    border: none;
    padding-left: 0.8rem;
    color: lightgray;
    width: 8rem;
    font-size: 0.8rem;
}
.search-container input:focus{
    outline: none;
}



.search-container .material-symbols-outlined{
    color: lightgray;
    position: absolute;
    right: 0.55rem;
    top: 0.2rem;
    font-size: 1.5rem;
}
.icon-container {
    position: relative;
    left: -10px; /* Moves the icon slightly to the left */
    display: flex;
    align-items: center;
}

.icon-container{
    img{
        height: 1.5rem;
    }
    position: relative;
    left: -3rem; /* Moves the icon slightly to the left */
    display: flex;
    align-items: center;
}


#main-div{
    padding: 1.5rem;
    margin: 5rem 1.5rem 1.5rem;
    
}

#main-div #section-1{
    display: flex;
    gap: 2rem;
}
#main-div #section-1 .image-container img{
    height: 16rem;
}
#main-div #section-1 .textbox-container{
    flex: 1;
}
#main-div #section-1 .textbox-container textarea{
    height: 14rem;
    width: calc(100% - 2rem);
    background: #E5D8FF;
    border: none;
    resize: none;
    border-radius: 0.5rem;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    font-size: 0.8rem;
    padding: 1rem;
}


#section-2{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    gap: 2rem;
}

#section-2 .card{
    height: 3rem;
    border-radius: 0.5rem;
    color: white;
    padding: 1rem;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-1{
    background: #929DFF;
}

.card-2{
    background: #734CF2;
}

.card-3{
    background: #D288FF;
}

.card-4{
    background: #000000;
    position: relative;
}

.card-4-icon{
    height: 7rem;
    position: fixed;
    right: 1.58rem;
    bottom: 0rem;
}


#section-3{
    height: 20rem;
    background: #483EFF;
    border-radius: 0.5rem;
    margin-top: 5rem;
    padding: 1rem;
    display: flex;
}

.list-item-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-between;
    flex: 1;
    gap: 2rem;
}

.item-box-container{
    flex: 1;
    border: solid 0.2rem white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
}

.info-container{
    flex: 3;
    background: white;
    border-radius: 1rem;
}

.item-box-selected{
    background: #BCE0F6;
    color: black;
    border-color: #BCE0F6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.social-icon-container{
    position: fixed;
    right: 0;
    top: 10rem;
}

.social-icon{
    border: solid 1px black;
    border-radius: 0.5rem;
    margin-top: 0.1rem;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon img{
    height: 2rem;
    display: flex;
    
}

.twitter{
    height: 1.8rem !important;
}
.info-container{
    color: #04285A;
    display: flex;
    font-size: 1.2rem;
    padding: 2rem;
    flex-direction: column;
    gap: 1.5rem;

    
}
button{
    background-color:black ;
    color: white;
    
}
#button-info{
    display: flex
    ;
        height: 0rem;
        padding: 1rem;
        position: absolute;
        right: 6rem;
        bottom: -22rem;
        width: 6rem;
        font-size: 1rem;
        align-items: center;
        border-radius: .2rem;
        border: none;

    
}
#footer-info{
    margin-left: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Roboto";
}
#your-info{
    font-weight: 700;
    font-size: 1.2;
    font-family: "Inter";
}
.content{
    font-weight: 500;
    font-size: 1;
}
#Next-arrow{
    position: absolute;
    right: 129px;
    bottom: -506px;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    margin: 1rem;
    cursor: pointer;
}